*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* Button  */
.primary-btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(45deg,  #F7E93F, #FB09B4, #9100F8);
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-out;
}
.primary-btn:hover{
    transform: translateY(-2px);
  box-shadow: 0 5px 25px rgba(128, 128, 128, 0.445);
}


/* white color */
.text-white{
    color: #FFFFFF;
}
/* green color */
.text-green{
    color: #00FF88;
}
/* dark black color  */
.text-black{
    color: #1A0B2E;
}
/* medium black color  */
.text-medium-black{
    color: #412567;
}

/* header styles */

/* navbar styles */
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.wave {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.brand-name{
    padding-top: 25px;
    padding-bottom: 25px;
}

