*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* Button  */
.primary-btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    cursor: pointer;
    background: linear-gradient(45deg,  #F7E93F, #FB09B4, #9100F8);
    transition: transform 0.2s ease-in, box-shadow 0.1s ease-out;
}
.secondary-btn{
    color:#00FF88;
    border-color: #00FF88;
    font-size: 16px;
    font-weight:500;
    padding: 12px 30px;
    border-radius: 10000px;
    cursor: pointer;
    background-color:transparent;
}
.secondary-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 25px rgba(0, 128, 0, 0.568);
}
.primary-btn:hover{
    transform: translateY(-2px);
  box-shadow: 0 5px 25px rgba(128, 128, 128, 0.5);
}


/* white color */
.text-white{
    color: #fffffffb;
}
/* green color */
.text-green{
    color: #00FF88;
}
/* dark black color  */
.text-black{
    color: #1A0B2E;
}
/* medium black color  */
.text-medium-black{
    color: #412567;
}

/* header styles */

/* navbar styles */
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.humburger{
    display: none;
    width: 30px;
    cursor: pointer;
}

.wave {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.brand-name{
    padding-top: 25px;
    padding-bottom: 25px;
}
.banner{
    background-image: url(../assets/hero-bg.png);
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-container{
    /* border: 1px solid cyan; */
    padding-top: 101px;
    margin: 0 auto;
    width: 550px;
    /* height: 558px; */
}
.hero-img{
    background-image: url(../assets/hero-circle.png);
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 69px;
}
.hero-img img{
    width: 117px;
    height: 175px;
    display: block;
    margin:0 auto;
    animation: pulse 4s ease-in-out infinite;

}
.hero-img .frame-icon{
    width: 90px;
    height: 55px;
    position: relative;
    bottom: 230px;
    left: 123px;
    filter: drop-shadow(0px 15px 40px rgba(0, 128, 0, 0.801));
}
.hero-contain{
    text-align: center;
    padding-top: 40px;
}
.hero-contain h1{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 8px;
}
.hero-contain p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
}
.hero-button{
    gap: 30px;
    justify-content: center;
}
.podcast-section{
    width: 100%;
    height: 646px;
    border: 1px solid #1A0B2E;
    background-color: #1A0B2E;
}
.podcast-contain{
    text-align: center;
    /* border: 1px solid cyan; */
    margin: 50px 200px auto 200px;
    margin-bottom: 80px;
}
.podcast-contain h2{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}
.podcast-contain p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 100px;
    padding-right: 100px;
}
.podcast-contain .podcast-p{
    font-size: 16px;
    padding-top: 40px;
}
.underline{
    color:#ffffffa4;
    height: 0.1px;
    margin-left: 140px;
    margin-right: 140px;
}
.podcast-card{
    /* border: 1px solid maroon; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 80px auto 120px auto;
    gap: 80px;

}
.card{
    /* border: 1px solid salmon; */
    width: 240px;
    align-content: center;
}
.card img{
    display: block;
    margin: 0 auto;
}
.card p{
    padding-top: 16px;
    text-align: center;
}
/* why choose  */
.choose{
    background-color: #230E3D;
}
.choose h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}
.box-container{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    /* border: 1px solid tomato; */
}
.box-container img{
    width: 42px;
    height: 45px;
}
.box-container .box-1{
    padding: 108px 40px;
}
.box-container h3{
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
}
.box-container p{
    padding-top: 16px;
}

.box-container>*{
    /* border: 1px solid white; */
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    box-shadow: 2px 5px 10px #402567d8;
    

}
.box-1{
    grid-area: box-1;
}
.box-2{
    grid-area: box-2;
}
.box-3{
    grid-area: box-3;
}
.box-4{
    grid-area: box-4;
}
.box-5{
    grid-area: box-5;
}
.box-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    
    "box-1 box-2 box-2"
    "box-1 box-3 box-3"
    "box-4 box-4 box-5"
}









@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}

@media screen and (max-width: 576px) {
    /* navigation */
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }

    .humburger{
        display: block;
    }
    .navbar{
        justify-content: space-between;
    }
    .brand-name{
        padding-left: 10px;
    }
    .hero-container{
        width: 100%;
    }
    /* podcast  */

    .podcast-contain{
    text-align: center;
    /* border: 1px solid cyan; */
    margin: 0 auto;
    margin-bottom: 30px;
       
    }
    .podcast-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    }






}







